<div class="alert alert-dismissible alert-success">
<%= form_tag url_for(action: 'create'), method: "post" do %>
</br>
</br>
    <h1><span class="badge badge-primary">NEW GOSSIP</span></h1>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title' %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_field_tag 'content'%>
      <br /> <br />

      <%= submit_tag "create" %>

    <% end %>
<!--<form action="gossips_create_path" method="POST">
	  <input type="hidden" name="authenticity_token" value="form_authenticity_token %>">
	  <h3><strong>title:</strong></h3><input type="text" name="get_title"></br>
	  <h3><strong>content:</strong></h3><input type="text" name="get_content"></br>
	  <a href="/" class="btn btn-primary btn-lg"  role="button">create</a>
	</form> 
	<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>-->
</div>