<h1><span class="badge badge-primary">THE DETAIL OF USER <%=@gossips.find(@id).user.first_name.upcase%></span></h1>
<div class="alert alert-dismissible alert-success">
	<p><strong>His/her first_name:</strong> <%=@gossips.find(@id).user.first_name%></p>
	<p><strong>His/her last_name:</strong> <%=@gossips.find(@id).user.last_name%></p>
	<p><strong>the title:</strong> <%=@gossips.find(@id).title%></p>
	<p><strong>the content:</strong> <%=@gossips.find(@id).content%></p>
	<p><strong>the date of creation:</strong> <%=@gossips.find(@id).created_at%></p>
	<a href="/static_pages/user/<%=@id%>" class="btn btn-primary">Author</a>
</div>