<!DOCTYPE html>
<html>
  <head>
    <title>GossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">Home</a>
      <%= link_to "Contact", static_pages_contact_path %>
      <%= link_to "Team", static_pages_team_path %> 
    </header>
    <%= yield %>
  </body>
</html>
