<!DOCTYPE html>
<html>
  <head>
    <title>GossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="/">Home</a>
      <a href="static_pages/contact">Contact</a>
      <a href="static_pages/team">Team</a>
      <a href="static_pages/user">User</a>
    </header>
    <%= yield %>
  </body>
</html>
